.layer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 50;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 428px;
    min-height: 310px;
    z-index: 51;
    background: rgba(39, 39, 39, 1);
    border-radius: 6px;
    padding: 24px;
    .close {
        cursor: pointer;
        position: absolute;
        right: 25px;
        top: 22px;
    }
}

@media screen and (max-width: 600px) {
    .modal {
        min-width: 375px;
        width: 90%;
    }
}